.sticky {
  position: sticky;
  z-index: 10;
  top: 56px;
  background: #ededed;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right {
  margin: 4px 0;
}