.wrapper {
  margin: 1rem 0;
}
.container {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.rowReverse {
  flex-direction: row-reverse;
}

.cell,
.cellHeader {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #565c65;
  min-height: 40px;
}

.cellHeader {
  font-weight: 700;
  background-color: #f0f0f0;
}

.cell > div {
  width: 100%;
}

.cell select {
  border: 0;
  margin: 0;
}

.cell select:focus {
  z-index: 1000;
  position: relative;
}

.caption {
  min-width: 300px;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  text-align: left;
}
