/* Customize USWDS */
.usa-form {
  max-width: none;
}
.usa-checkbox, .use-select {
  margin-top: 0.5rem;
}

.usa-label__selectOne {
  margin-bottom: 0.5rem;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
}
