.main {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.main > .intro {
  text-align: center;
  margin: 3em 0;
}

.main > .intro h1 {
  margin-bottom: 0;
}
.main > .intro h2 {
  margin-top: 0;
  font-weight: 400;
}

.group {
  margin-top: 1rem;
}

/** Sticky header **/

.sticky {
  position: sticky;
  z-index: 10;
  top: 56px;
  background: #ededed;
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 80%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.left button,
.right button {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.5rem;
  min-width: 50px;
  border: 0;
  cursor: pointer;
}

.left button {
  text-align: center;
  text-decoration: none;
  color: #000;
  will-change: background-color;
  background-color: transparent;
}

.left button:not(:last-child) {
  border-right: 1px solid rgb(167, 167, 167);
}
.left button:hover,
.left .active {
  background-color: rgba(0, 0, 0, 0.2);
}

.right button {
  background-color: #d83933;
  color: #fff;
  font-weight: 700;
}

.right button:hover {
  background-color: #b50909;
}
