/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  @apply .border-2 .border-solid .border-light-4;
  @apply .h-6 .w-6;
}

/* Hide the dot inside checkmark */
.checkmark > svg {
  content: "";
  position: absolute;
  display: none;
}

/* When checked display it */
.container input:checked ~ .checkmark {
  @apply .border-brand .shadow-none;
}

.container input:checked ~ .checkmark > svg {
  display: block;
}

/* Focus effects */
.container input:focus ~ .checkmark {
  @apply .border-accent-1 .shadow-input;
}

/* Hover effects */
.container:hover input ~ .checkmark {
  @apply .border-dark-1 .shadow-none;
}
